:root {
    --palette-white: #fffaf5;
    --palette-white-shade: #ded9d5;
    --palette-primary: #ea6b22;
    --palette-primary-tint: #f99f20;
    --palette-secondary: #293f58;
    --palette-secondary-tint: #4f6277;
    --palette-grey: #707880;
    --palette-black: #202830;
}
