:root {
    --cover-text-color: white;

    --highlight: var(--section-dark-bg-color);
    --highlight-contrast: var(--cover-text-color);
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: var(--section-dark-bg-color);

    --cover-title-text-shadow: #293f58 0px 0px 7px;
    --cover-title-and-description-guard-bg-color: rgba(0, 0, 0, 0.333);

    --sticky-menu-text-color: #f99f20;

    --section-light-text-color: black;
    --section-light-bg-color: white;

    --section-dark-text-color: var(--section-light-bg-color);
    --section-dark-bg-color: #ea6b22;

    --section-uni-quote: grey;
    --section-uni-code-bg-color: var(--section-light-bg-color);

    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    --footer-color-background: #293f58;
    --footer-color: grey;

    --ul-li-icon: fa-signing;
}
