@import "./palette.scss";

:root {
    --cover-text-color: var(--palette-white);
    --cover-logo-shadow: var(--palette-white) 0px 0px 7px;
    --cover-title-text-shadow: var(--palette-secondary) 0px 0px 7px;
    --cover-title-and-description-guard-bg-color: rgba(0, 0, 0, 0.333);

    --highlight: var(--palette-primary);
    --highlight-contrast: var(--palette-white);
    --highlight-inverse: var(--palette-primary-tint);
    --highlight-inverse-contrast: var(--palette-black);

    --sticky-menu-text-color: var(--palette-primary-tint);

    --section-light-text-color: var(--palette-black);
    --section-light-bg-color: var(--palette-white);

    --section-dark-text-color: var(--palette-white);
    --section-dark-bg-color: var(--palette-primary);

    --section-uni-quote: var(--palette-grey);
    --section-uni-code-bg-color: var(--palette-white-shade);

    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    --footer-color: var(--palette-grey);
    --footer-color-background: var(--palette-secondary);

    --ul-li-icon: fa-signing;
}
